/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

/* Logo */
.logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
}

/* Hamburger Icon */
.fas.fa-hamburger {
  margin-left: 0.2rem;
  font-size: 2rem;
}

/* Nav Menu */
.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 10px;
}

/* Hover Effects for Links */
.nav-links:hover {
  background: rgb(80, 80, 238);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

/* Menu Icon (Hamburger) */
.fa-bars,
.fa-times {
  color: #fff;
}

/* Menu Icons (for mobile view) */
.menu-icons {
  display: none;
}

/* Button Link Style */
.nav-links-button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background-color: #fafafa;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1rem;
  color: #222;
  font-weight: 500;
}

/* Button Hover Effects */
.nav-links-button:hover {
  border-color: rgb(80, 80, 238);
  box-shadow: 0 0 5px rgb(80, 80, 238), 0 0 10px rgb(80, 80, 238), 0 0 15px rgb(80, 80, 238);
}

/* Mobile & Tablet Responsive Design */
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0 15px;
  }

  .logo {
    z-index: 1;
    background-color: lightcoral;
    border-radius:lightcoral;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -110%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-links {
    display: block;
    width: 100%;
    padding: 2rem 0;
    color: #222;
  }

  .nav-links:hover {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
  }

  .menu-icons {
    display: block;
    z-index: 1;
  }

  .nav-links-button {
    padding: 1.5rem;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 80%;
    margin: auto;
  }
}
